*,
*::before,
*::after {
  box-sizing: border-box;
}

/* main.css */
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Light.ttf");
}

body {
  font-family: "Montserrat" !important;
}
